In [1]:
import pandas as pd

In [3]:
#將以下問卷資料的職業(Profession) 欄位缺失值填入字串 'others'，更進一步將字串做編碼。 此時用什麼方式做編碼比較適合？為什麼？
q_df = pd.DataFrame([['male', 'teacher'], ['male', 'engineer'], ['female', None], ['female', 'engineer']],columns=['Sex','Profession'])

In [6]:
ans1 = q_df.fillna('others')
ans1

      Sex Profession
0    male    teacher
1    male   engineer
2  female     others
3  female   engineer

In [8]:
ans2 = pd.get_dummies(q_df)
ans2

   Sex_female  Sex_male  Profession_engineer  Profession_teacher
0           0         1                    0                   1
1           0         1                    1                   0
2           1         0                    0                   0
3           1         0                    1                   0

In [9]:
#因為'sex'跟'profession'是一般性資料，所以用get_dummies做編碼比較好。